/* from olemiss.edu site:                   */
/*                                          */
/*      gray-bg:        #f2f2f2             */
/*      darker blue:    #14213d             */
/*      lighter blue:   #11294E             */
/*      red:            #e31936             */
/*                                          */
/* variations:                              */
/*      slightly darker red:    #a11227     */
/*      even darker blue:       #131f3a     */
/*      slightly darker gray:   #d9d9d9     */

:root{
    --COLOR-UM-gray:#f2f2f2;
    --COLOR-UM-darkblue:#14213d;
    --COLOR-UM-blue:#11294e;
    --COLOR-UM-red:#e31936;
    --COLOR-UM-darkred:#a11227;
    --COLOR-UM-darkdarkblue:#131f3a;
    --COLOR-UM-darkgray:#d9d9d9;
    --COLOR-menugray:#20272b;
}

:root{
    --MAIN-TEXT-color:"black"; /* Color of text by default */
    --MAIN-BG-color:#f2f2f2; /* Default page background color */
    --MAIN-TITLES-TEXT-color:#131f3a; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#1C90F3; /* Color of links */
    --MAIN-LINK-HOVER-color:#167ad0; /* Color of hovered links */
    --MAIN-ANCHOR-color:#1C90F3; /* color of anchors on titles */
    
    --TOPBAR-BG-color:#e6e6e6;  /* navbar across top of page */

    --MENU-HEADER-BG-color:#e6e6e6; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#14213d; /*Color of menu header border */ 

    --MENU-SEARCH-BG-color:"white"; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color:"black"; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color:"black"; /* Override search field icons color */

    --MENU-HOMELINK-BG-color:#a11227;
    --MENU-HOMELINK-TEXT-color:"white";

    /* active SECTIONS */
    --MENU-SECTIONS-ACTIVE-BG-color:var(--COLOR-menugray); /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#11294E; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color:#ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color:#e6e6e6;  /* Color of links in menu, when hovered */

    /* active individual */
    --MENU-SECTION-ACTIVE-CATEGORY-color:#ffffff; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color:#173869; /* Color of background for the active category (only) */

    /* --MENU-VISITED-color: #33a1ff; */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
    
}

body {
    color: var(--MAIN-TEXT-color) !important;
    font-weight:600;
    background-color: var(--MAIN-BG-color);
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

/*
#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}
*/

#body .nav > i {
    background-color: var(--MENU-HEADER-BG-color);
    color: "black";
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
    font-weight: bold !important;
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    display: inline-block;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#homelinks {
  background-color: var(--MENU-HOMELINK-BG-color);
  color: var(--MENU-HOMELINK-TEXT-color);
  padding: 7px 0;
  border-bottom: 0px solid #000000;
}

#top-bar {
    background-color: var(--TOPBAR-BG-color);
}
